<html>
  <head>
    <style>
      body { padding: 20px; }
    </style>
  </head>
  <body>
    <h1>Ruh roh</h1>
    <p>Looks like something went wrong.</p>
    <p>Please contact <a href="mailto:<%= ENV['CONTACT_EMAIL'] %>"><%= ENV['CONTACT_EMAIL'] %></a>.</p>
  </body>
</html>
