<h1>Sorry Charlie</h1>

<p>We're unable to verify your eligibility at this time.</p>

<p>Please contact <a href="mailto:<%= ENV['CONTACT_EMAIL'] %>"><%= ENV['CONTACT_EMAIL'] %></a> if you believe this is in error.</p>
